*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-start{
    justify-content: flex-start;
}

.align-items-center{
    align-items: center;
}

.pos-absolute{
    position: absolute;
}

.pos-relative{
    position: relative;
}